#navBar {
    margin: 0;
    background-color: #a0522d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    border-bottom: 8px solid #FCF7DD;
}

#navUl {
    padding: 0;
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    justify-content: center;
    align-items: center;
}

#liReg, #liProf, #liHome {
    list-style-type: none;
    color: white;
}

#liReg a, #liProf a, #liHome a {
    padding: 43px;
    color: white;
    text-decoration: none;
}

#liReg a:hover, #liProf a:hover, #liHome a:hover {
    background-color: #FCF7DD;
    color: black;
}

#navH1 {
    text-align: left;
    margin: 0;
    margin-left: 20px;
    color: white;
}