
#modal-title {
    color: aliceblue;
}



#dropdown-toggle {
    background-color: bisque;
}

#dropdown-menu{
    background-color: antiquewhite;
}
#dropdown-item {
    background-color: azure;
}

#form-container{
    background-color: #424242;
  
}

