.logo-image{
   
}


.describtion{
   margin-top: -20px;
   font-size: 0.8rem;
   margin-left: 20px;
}

.footerContainer.nn{
    margin-top:100px;
   
    
    
}


.footerContainer{
}



.text-center .copyRight{
   
 background-color:beige;

 

}
.Link-text-color{
    color: black;
}


.kontakt-title{
    color:black;
}
.social-title{
color:black;
}
.lenker-title{
    color:black;
}




.text{
   color: red;
}
.insta{
    color: white;
    background-color:#E5484B;
    padding: 0.1ch;
    border-radius: 4px;

}